.flex-container {
    display: flex;
    flex-wrap: wrap;
}
/*
.flex-stretch {
    align-items: stretch;
}

.full-height {
    height: 100%;
}
*/

.card {
    align-items: stretch;
    width: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
}

.card-img {
    width: 100%;
}

.card-title {
    align-self: end;
    margin-left: auto;
    margin-right: auto;
}